extends eventLayout.pug 

block css 
    link(rel="stylesheet", href="/student.css")

block js 
    script(src="/delete.js", defer="true") 

block content 
    h1 Event Entry
    div
        p 
            strong Title: 
        p=`${result.title}`

        p 
            strong Description: 
        p=`${result.description}`

        p
            strong Date: 
        p=`${result.date}`

        if attended 
            p(class="put") You Attended
        else 
            form(action="attended", method="post", class="attended-container") 
                input(type="submit", value="I Attended", class="put")