extends studentLayout.pug 

block css
    link(rel="stylesheet", href="/search.css")

block content  
        h1 Search Student Directory
        form(action="/students", method="get")  
            input(type="text", placeholder="Search..." name="q")
            input(type="submit", value="Search")
        ul 
            each student in results
                a(href=`/students/${student.entityId}/`)
                    li= `${student.entityFields.firstName._value} ${student.entityFields.lastName._value}`