doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title FBLA State Desktop
        link(rel="stylesheet", href="/styles.css")
        block css 
        block js 
    body 
        header 
            a(href="/students", class="navbutton") Search 
            a(href="/students/leaderboard", class="navbutton") Leaderboard 
            a(href="/events", class="navbutton") Events
            if loggedin 
                p(class="navbutton right")=`${username}`
                form(class="logout-container", action="/login/logout", method="post") 
                    input(class="navbutton", type="button", value="My Account" onclick=`window.location.href="/students/${entityId}/"`)
                    input(class="navbutton", type="submit", value="Log Out")
            else
                a(href="/login", class="navbutton right") Login
        main 
            block content 