extends studentLayout.pug 

block css 
    link(rel="stylesheet", href="/login.css")

block content
    h1 New Student Form
    form(method="post", action="/students/new")
        input(id="email", name="email", type="email", placeholder="Email...")
        

        input(id="password", name="password", type="password", placeholder="Password...")

        input(id="firstName", name="firstName", type="text", placeholder="First Name...")
        
 
        input(id="lastName", name="lastName", type="text", placeholder="Last Name...")
        

        input(id="gpa", name="gpa", type="number", min="0", max="4", step="0.01" placeholder="GPA...")
        

        input(id="points", name="points", type="number", min="0", placeholder="Points...")
        

        input(type="submit", value="Submit")