extends layout.pug 

block content
    h1 New Student Form
    form(method="post", action="/students/new")
        label(for="firstName") 
            b First Name: 
        input(id="firstName", name="firstName", type="text", placeholder="First Name...")
        br

        label(for="lastName") 
            strong First Name: 
        input(id="lastName", name="lastName", type="text", placeholder="Last Name...")
        br

        label(for="email") 
            strong Email: 
        input(id="email", name="email", type="email", placeholder="Email...")
        br

        label(for="gpa") 
            strong GPA: 
        input(id="gpa", name="gpa", type="number", min="0", max="4", step="0.01" placeholder="GPA...")
        br

        label(for="points") 
            strong Points: 
        input(id="points", name="points", type="number", min="0", placeholder="Points...")
        br

        input(type="submit", value="Submit")