:root {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

html {
  color: #ECEFF4;
}

a {
  color: #ECEFF4;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #2E3440;
}

main {
  margin: 0.25rem;
}

h1 {
  text-align: center;
}

input, textarea {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #ECEFF4;
  background-color: #4C566A;
  border: none;

  padding: 0.5rem;
  border-radius: 0.25rem;
  outline: none;
}

button {
  background-color: #4C566A;
}
/* Style the tab */
.tab {
  overflow: hidden;
  /*border: 1px solid #ccc;*/
  background-color: #f1f1f1;
  width: 100%;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: background-color 200ms;
  font-size: 30px;
  text-align: center;
  width: 25%;

}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 1px 20px;
  font-size: 20px;
  height: 100%;
}

.navbutton {
  float: left;
  background-color: #4C566A;
  text-decoration: none;
  border-radius: 0;
  
  padding: 1rem;
  margin: 0;

  cursor: pointer;
  transition: background-color 500ms;
}

.navbutton:hover {
  background-color: hsl(220, 16%, 41%);
}

p.navbutton:hover + .logout-container {
  display: flex;
}

.logout-container {
  position: fixed;
  flex-direction: column;
  gap: 0;
  top: 3.1rem;
  right: 0;
  display: none;
}

.logout {
  border-radius: 0;
  margin: 0;
  padding: 1rem;
  background-color: hsl(220, 16%, 41%);
}

.logout-container:hover {
  height: auto;
  display: flex;
}

header {
  display: inline-block;
  width: 100%;
  background-color: hsl(220, 16%, 17%);
}

.navbutton.right {
  float: right;
}

::-webkit-input-placeholder { /* Edge */
  color: #99a7b2;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #99a7b2;
}

::placeholder {
  color: #99a7b2;
}